* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

body {
    font-family: 'Times New Roman', Times, serif;
    background-color: #ffffffcc;
}

/* Header */
.header {
    background-color: #333;
    color: white;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    font-size: 24px;
    text-decoration: none;
    color: white;
    letter-spacing: .15rem;
}

.navbar {
    display:inline-flex;
    letter-spacing: 10rem;
}

.navbar a {
    text-decoration: none;
    color: white;
    margin: 0 10px;
    letter-spacing: .15rem;
    transition: .3s;
}
.navbar a:hover,.navbar a.active{
    color: #007bff;
}

/* ADOD Section */
.adod-news {
    padding: 50px;
    text-align: center;
    top: 30rem;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    }
.adod {
    padding: 50px;
    text-align: center;
    
}
.newsitem-adod img {
    width: 100%;
    height: 200px;
    border-radius: 10px;
}

.newsitem-adod p{
    text-align:center;
}

.adod h2 {
    font-size: 36px;
    margin-bottom: 30px;
}

.adod-content {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.img-content {
    position: relative;
    display: inline-block;
    max-width: 100%;
    height: 460px;
    overflow: hidden;
    border-radius: 5%;
}

.adod-content img {
    width: 100%;
    height: 360px;
    overflow: hidden;
    max-width: 400px;
    border-radius: 5%;
}

.adod-text {
    text-align: left;
    max-width: 800px;
    margin: 0 auto 30px auto;
}

.adod-text h1 {
    font-size: 28px;
    margin-bottom: 10px;
}

.adod-text p {
    font-size: 16px;
    line-height: 1.5;
    margin-bottom: 20px;
}

.adod-news {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between; 
}

.newsitem-adod {
    width: calc(25% - 20px); 
    margin: 0 0 20px 0; 
    text-align: left;
}

.newsitem-adod img {
    width: 100%;
    border-radius: 5px;
    margin-bottom: 10px;
}

.newsitem-adod p {
    font-size: 14px;
    margin-bottom: 5px;
}

/*Pagination */

.pagination {
    margin-bottom: 50px;
    text-align: center;
}

.pagination button{
    padding: 5px 10px;
    margin: 0 5px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
.pagination span {
   
    margin: 0 5px;
    color: #000000;
    border-radius: 2px;

}

.pagination button:hover,
.pagination button:focus
 {
    background-color: #0056b3;
}

.pagination .page-number {
    font-weight: bold;
}
