* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

body {
    font-family: 'Times New Roman', Times, serif;
    background-color: #ffffffcc;
}

/* Header */
.header {
    background-color: #333;
    color: white;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    font-size: 24px;
    text-decoration: none;
    color: white;
    letter-spacing: .15rem;
}

.navbar {
    display:inline-flex;
    letter-spacing: 10rem;
}

.navbar a {
    text-decoration: none;
    color: white;
    margin: 0 10px;
    letter-spacing: .15rem;
    transition: .3s;
}
.navbar a:hover,
.navbar a.active {
    color: rgba(0, 157, 255, 0.836);
    }

h2 {
    text-align: center;
    margin-top: 30px;
}

form {
    max-width: 500px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

label {
    font-weight: bold;
}

input[type="text"],
input[type="email"],
textarea,
select {
    width: 100%;
    padding: 10px;
    margin: 5px 0;
    border: 1px solid #ccc;
    border-radius: 3px;
    box-sizing: border-box;
}

input[type="submit"] {
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    background-color: #4caf50;
    color: #fff;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #45a049;
}
